addict>=2.4.0
appdirs>=1.4.4
coloredlogs>=15.0.1
Cython>=0.29.30
debugpy>=1.6.3
einops>=0.4.1
fairscale>=0.4.13
filelock>=3.7.1
future>=0.18.2
gdown>=4.5.1
gitdb>=4.0.9
GitPython>=3.1.27
h5py>=3.7.0
humanfriendly>=10.0
imageio>=2.19.3
imantics>=0.1.12
lxml>=4.9.1
memory-profiler>=0.61.0
mkl-fft>=1.3.1
mkl-service>=2.4.0
networkx>=2.8.4
pandas>=1.4.3
Pillow>=9.2.0
prettytable>=3.5.0
psutil>=5.9.4
pydot>=1.4.2
pyquaternion>=0.9.9
PySocks>=1.7.1
pytz>=2022.1
PyWavelets>=1.3.0
scikit-image>=0.19.3
scipy>=1.9.3
seaborn>=0.12.1
setuptools==59.5.0
Shapely>=1.8.2
scikit-learn>=0.0
smmap>=5.0.0
soupsieve>=2.3.2.post1
submitit>=1.4.2
tifffile>=2022.5.4
timm>=0.5.4
typing>=3.7.4.3
urllib3>=1.26.10
webcolors>=1.12
xmljson>=0.2.1
yapf>=0.32.0
